<!-- navbar.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-light py-3 mb-5">
  <div class="container">
    <a class="navbar-brand fw-bold d-flex align-items-center" href="#">
      <img src="/bnsp/assets/unas.png" alt="Logo" class="me-2" style="height: 40px;">
      Universitas Nasional
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto gap-3">
        <li class="nav-item">
          <button class="btn btn-outline-primary me-2 w-100" onclick="window.location.href='/bnsp/index.html';">Daftar</button>
        </li>
        <li class="nav-item">
          <button class="btn btn-primary w-100" onclick="window.location.href='/bnsp/php/view.php';">Hasil</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
